.header-logo {
  position: relative;  
  z-index: 6;
  display: flex;
  
    justify-content: center;
    align-items: center;

  &__title {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 5.5rem;
    color: #ffffff;
    letter-spacing: 0.82rem;
    text-shadow: 2px 2px #1e1e1e;

    @include md {
      font-size: 2.25rem;
      letter-spacing: 0.78rem;
    }

    @include sm {
      font-size: 1.75rem;
      letter-spacing: 0.7rem;
    }
  }
}